<footer class="site-footer">
  <div class="footer-title">
    <h2>Jessica Sumner</h2>
  </div>
  <div class="social-media">
    <ul class="social-media">
      <li>
        <a 
          href="https://github.com/{{site.github_username}}"
          class="fa fa-github">
          github
        </a>
      </li>
      <li>
        <a 
          href="https://twitter.com/{{site.twitter_username}}"
          class="fa fa-twitter">
          twitter
        </a>
      </li>
      <li>
        <a 
          href="https://www.linkedin.com/in/{{site.linkedin_username}}"
          class="fa fa-linkedin-square">
          linked in
        </a>
      </li>
    </div>
  </div>
</footer>
