footer { 
  $footer-background: $green;
  $footer-color: transparentize(white, 0.3);
  $footer-color-hover: white;
  $footer-height: 60px;
  $footer-active-link-color: transparentize(white, 0.5);

  background-color: $footer-background;
  padding-top: 6px;
  min-height: $footer-height;

  a {
    color: $footer-color;
    text-decoration: none;
    &:focus, &:hover {
      color: $footer-color-hover;
    }
  }
  
  ul {
    float: right;
  }
}