.post {
  @include span-columns(6);
  @include shift(3);
}

.post-title {
  font-size: 1.25em;
  font-weight: bold;
}

.post-content {
  text-align: justify;
}

code {
  font-size: 1.25em;
}

.highlight {
  padding: 0 5px;
  background-color: #fdfff9; 
}
